@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/Oxygen-Bold.woff2') format('woff2'),
        url('/fonts/Oxygen-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Regular.woff2') format('woff2'),
        url('/fonts/Lora-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/Oxygen-Regular.woff2') format('woff2'),
        url('/fonts/Oxygen-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-Bold.woff') format('woff'),
        url('/fonts/Tektur-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-Regular.woff') format('woff'),
        url('/fonts/Tektur-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Salsa';
    src: url('/fonts/Salsa-Regular.woff') format('woff'),
        url('/fonts/Salsa-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('/fonts/ArchitectsDaughter-Regular.woff') format('woff'),
        url('/fonts/ArchitectsDaughter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'FrederickatheGreat';
    src: url('/fonts/FrederickatheGreat-Regular.woff') format('woff'),
        url('/fonts/FrederickatheGreat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Thin.woff2') format('woff2'),
        url('/fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lemon';
    src: url('/fonts/Lemon-Regular.woff2') format('woff2'),
        url('/fonts/Lemon-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.woff2') format('woff2'),
        url('/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('/fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}