@import 'scss/_fonts';
@import 'scss/_reset';
@import 'scss/_mixins';
@import 'scss/_var';

// @use 'scss/_fonts';
// @use 'scss/_reset';


body {
    font-family: 'Oxygen';
    font-weight: 400;
    background: $second-color;
    font-size: $font-lg;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}


.header {
    padding: 20px 0;
    background: $black-color;


    &--sm{
        font-size: $font-sm;
    }

    &__container {
        //@include flex-between;
        @include flex-justify(space-between); // ? тут ставиться один из параметров (center, space-between, space-around .....)
    }

    // ? .header__logo {}
    &__logo {
        color: $white-color;
        text-decoration: none;
        text-transform: uppercase;
    }

    // ? .header__list {}
    &__list {
        display: flex;
        gap: 20px;
    }

    // ? .header__item {}
    &__item {
        a {
            color: $white-color;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
                color: $second-color;
                // ? yes! .header__item a.active { &.active }
                // ! no! .header__item a active { .active }
            }
        }
    }
}

h1 {
    @include title;
    @include viewport-lg {
        color: $regular-color;
        text-transform: lowercase;
        font-weight: 400;
    }

    @include viewport-xs {
        color: yellow;
        font-size: $font-sm;
        font-weight: 700;
    }
}

h2 {
    @include title(20px); // ? а тут перезаписываеться деф-размер на (20px)
}

.link {
    @include link(orange);
    font-size: 40px;
}

.link--second {
    @include link(orange, violet, black);
     // ? перечисление параметров из ЛИНК с другими цветами ($color: $regular-color, $hover: red, $active: blue)
    font-size: 30px;
}