@font-face {
  font-family: "Oxygen";
  src: url("/fonts/Oxygen-Bold.woff2") format("woff2"), url("/fonts/Oxygen-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Regular.woff2") format("woff2"), url("/fonts/Lora-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oxygen";
  src: url("/fonts/Oxygen-Regular.woff2") format("woff2"), url("/fonts/Oxygen-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Bold.woff") format("woff"), url("/fonts/Tektur-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Regular.woff") format("woff"), url("/fonts/Tektur-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Salsa";
  src: url("/fonts/Salsa-Regular.woff") format("woff"), url("/fonts/Salsa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "ArchitectsDaughter";
  src: url("/fonts/ArchitectsDaughter-Regular.woff") format("woff"), url("/fonts/ArchitectsDaughter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "FrederickatheGreat";
  src: url("/fonts/FrederickatheGreat-Regular.woff") format("woff"), url("/fonts/FrederickatheGreat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.woff2") format("woff2"), url("/fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lemon";
  src: url("/fonts/Lemon-Regular.woff2") format("woff2"), url("/fonts/Lemon-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.woff2") format("woff2"), url("/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.woff2") format("woff2"), url("/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

/*  html, body {
    scroll-behavior: smooth;
} */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: "Oxygen";
  font-weight: 400;
  background: green;
  font-size: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  padding: 20px 0;
  background: #000;
}
.header--sm {
  font-size: 14px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header__logo {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.header__list {
  display: flex;
  gap: 20px;
}
.header__item a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.header__item a.active {
  color: green;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  h1 {
    color: #24A3FF;
    text-transform: lowercase;
    font-weight: 400;
  }
}
@media (max-width: 400px) {
  h1 {
    color: yellow;
    font-size: 14px;
    font-weight: 700;
  }
}

h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.link {
  color: orange;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}
.link:hover {
  color: red;
}
.link:active {
  color: blue;
}

.link--second {
  color: orange;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
.link--second:hover {
  color: violet;
}
.link--second:active {
  color: black;
}/*# sourceMappingURL=styles.css.map */